body{
  font-family: 'Dancing Script', cursive;
}
nav{
 a{
   color: #fff;
   text-decoration: none;
 }
}
.row{
  margin: 0;
  padding: 20px 0px;
}
#background-image{
  background-image: url("../images/bg.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  #image-1{
    img{
      width: 500px;
    }
  }
}
footer{
  padding: 20px;
  color: #fff;
}